# API
API_HOST=0.0.0.0
API_PORT=8000
APP_NAME=Apollon API
APP_ENV=dev
MAX_UPLOAD_SIZE_MB=20

# PostgreSQL
POSTGRES_DB=apollon
POSTGRES_USER=apollon
POSTGRES_PASSWORD=apollon_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=samples
