fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
pydantic-settings==2.5.2
sqlalchemy==2.0.35
psycopg[binary]==3.2.3
celery==5.4.0
redis==5.1.1
python-magic==0.4.27
pefile==2024.8.26
yara-python==4.5.1
dnspython==2.7.0
python-whois==0.9.4
PyJWT==2.9.0
passlib[bcrypt]==1.7.4
